*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{

    --backgroundColor_1 : #344e41;
    --backgroundColor_2 : #3a5a40;
    --backgroundColor_3 : #588157;
    --backgroundColor_4 : #a3b18a;
    --backgroundColor_5 : #dad7cd;
    --boxshadow_outside : #0f1d16;
    --backgroundColor_7 : #344e41;    
}

body{
    background-color: var(--backgroundColor_1);
    font-family: 'poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ProgressBar{
    height: 10vh;
    width: 50vh;
    background-color: var(--backgroundColor_4);
    margin: 100px; 
    border-radius: 10px;
    margin-bottom: 50px;
}

#taskContainer{
    height: 50vh;
    width: 60vh;
    background-color: var(--backgroundColor_4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

}


.taskitems{
    height: 10vh;
    width: 50vh;
    background-color: var(--backgroundColor_1);
    border-radius: 10px;
    margin: 3vh;
    

}




















